<!DOCTYPE HTML>
<html>
    <head>
        <title>The secret, Users only content!</title>
    </head>
    <body>
        <h1>Congratulations! </h1>
        <br>
        You truely are a user of this system! Thus I, the great administrator shall give you, <%= username %> access, to my treasury...
        <br>
        <br>
        <a href="/logout">Logout...</a>
    </body>
</html>